{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acrualizar página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHy6SlzojJreq0N9mAmcjCEYGpAPWP1wg&libraries=places"></script>
<script>
    function initialize() {
      var input = document.getElementById('autocomplete-input');
      new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            {% if 'ok' in request.GET %}
            <p style="color: green;">
                Se ha actualizado correctamente
            </p>
            {% endif %}
                {% if request.user == page.created_by %}
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br>
                        <input type="submit" class="btn btn-primary btn-lg" value="Actualizar página" />
                    </form>
                {% else %}
                    <p>Solo el autor puede actualizar la aventura</p>
                {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}